:root {
  /* --brand-color: #3f51b5; */
}

/* :root {
  --brand-color: #3f51b5;
}

.section {
  border: 2px solid var(--brand-color);
} */

/* 
колір основного тексту #212121
колір другорядного тексту #757575
білий #FFFFFF
акцент #2196F3
колір електронки і тел в футері rgba(255, 255, 255, 0.6)
фон секції "Наша команда" #F5F4FA
фон футера і героя #2F303A

*/


.section-title {
    color: #212121;
}

