:root {
  --accent-color: #2196f3;
  --bgc-hero-btn-hover: #188ce8;
  --simple-white-color: #ffffff;
  --simple-black-color: #000000;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --bgc-footer-and-hero: #2f303a;
  --bgc-section-team: #f5f4fa;
  --color-contacts-footer: rgba(255, 255, 255, 0.6);
}

/* -------------Universal------------- */

body {
  background-color: var(--simple-white-color);
  font-family: "Roboto";
  font-weight: 400px;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.btn {
  font-family: inherit;
}

/* -------------Header------------- */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--simple-black-color);
}
.accent {
  color: var(--accent-color);
}

.nav-list-item,
.contact-list-item {
  font-weight: 500;
  line-height: 1.14;
}
.contact-list-item {
  color: var(--secondary-text-color);
}

.nav-list-item:hover,
.nav-list-item:focus,
.contact-list-item:hover,
.contact-list-item:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

/* -------------Hero------------- */

.hero {
  background-color: var(--bgc-footer-and-hero);
}

.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--simple-white-color);
  text-transform: uppercase;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--simple-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--bgc-hero-btn-hover);
}

/* -------------Features------------- */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-description {
  line-height: 1.41;
  color: var(--secondary-text-color);
}

/* -------------Work------------- */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* -------------Team------------- */

.team {
  background-color: var(--bgc-section-team);
}

.team-member {
  background-color: var(--simple-white-color);
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.member-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

/* -------------Footer------------- */

.page-footer {
  background-color: var(--bgc-footer-and-hero);
}

.page-footer .logo {
  color: var(--simple-white-color);
}

.company-address,
.company-mail,
.company-tel {
  line-height: 1.71;
  font-style: normal;
  color: var(--color-contacts-footer);
}

.company-address:focus,
.company-address:hover,
.company-mail:focus,
.company-mail:hover,
.company-tel:focus,
.company-tel:hover {
  color: var(--accent-color);
}

.company-address {
  color: var(--simple-white-color);
}

/* -------------Portfolio------------- */

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  background-color: var(--bgc-section-team);
  color: var(--primary-text-color);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--simple-white-color);
}

.current-filter {
  background-color: var(--accent-color);
  color: var(--simple-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-item-description {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}

/* -------------Universal------------- */
